.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 17rem;
    background-color: rgb(16, 141, 141);
}

.Subfooter{
    background-color: rgb(45, 102, 102);
    height: 2.5rem;
}