.task-table {
    overflow: hidden;
}

.task-table .table {
    overflow-x: auto;
}
.task-table .bg-color-red {
    background-color: var(--bg-color-red);
}
.task-table .bg-color-green {
    background-color: var(--bg-color-green);
}
.task-table .bg-color-blue {
    background-color: var(--bg-color-blue);
}
.task-table .bg-color-yellow {
    background-color: var(--bg-color-yellow);
}
.task-table .bg-color-gray {
    background-color: var(--bg-color-gray);
} 

.task-table .homology-search-table {
    table-layout: fixed;
}

.aln-column {
    overflow: auto;
    max-height: 300px;
    flex-wrap: wrap;
}

.task-table .metadata-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.task-table .metadata-table thead {
    display: flex;
    flex-direction: column;
}
  
.task-table .metadata-table tbody {
    display: flex;
    flex-direction: column;
}

